:root{
  /* Colors */
  --light: rgba(221, 204, 160, 1);
  --brown: rgba(45, 44, 49, 1);
  --green: rgba(132, 136, 101, 1);

  /* Other settings */
  --radius: 12px;
  --height: 36px;
  --font-size: 1.3rem;
  --space-between: 30px; /* Space between different boxes */
  --space-inside: 10px; /* Space inside the boxes */
}

.custom-font-size{
  font-size: var(--font-size);
}

.recipe-container > .icon{
  position: absolute;
  font-size: 1.6rem;
}

#random-recipes-modal > .icon{
  position: absolute;
    right: var(--space-inside);
  font-size: 1.6rem;
  cursor: pointer;
}

#recipe-modal > .mdi-close{
  position: absolute;
    right: var(--space-inside);
  font-size: 1.6rem;
  cursor: pointer;
}
